# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle
gradle
build.gradle

# other
eclipse
run
settings.json

# Files from Forge MDK
forge*changelog.txt
changelog.txt
CREDITS.txt
gradlew
gradlew.bat
README.txt
settings.gradle
example